
<div id="course-instance">
  <div class="row">

      <div class="col-sm-4 hidden-xs">
        <img class="img-responsive" src="/themes/itsweb/images/course-img-default.png">
      </div>

      <div class="col-sm-8 col-xs-12">

        {% if node.field_market_area.value %}
          <h3 class="market-area">{{ node.field_market_area.value|t }}</h3>
        {% endif %}

        <div class="node-title">{{ node.title.value }}</div>

        {% if node.field_course_code.value %}
          <h4 class="course-code">{{ node.field_course_code.value|t }}</h4>
        {% endif %}

{# Edit this field - course overview #}

        {% if node.field_course_overiew.value %}
          <h2 class="overview">Course Overview</h2>
          {{ node.field_course_overiew.value|t }}
        {% endif %}

        {% if node.field_about_course.value %}
          <h2 class="about">About Course</h2>
          {{ node.field_about_course.value|t }}
        {% endif %}

        {% if node.field_career_progression.value %}
          <h2 class="progression">Career Options and Progression</h2>
          {{ node.field_career_progression.value|t }}
        {% endif %}

        {% if node.field_entry_requirements.value %}
          <h2 class="require">Entry Requirements</h2>
          {{ node.field_entry_requirements.value|t }}
        {% endif %}

      </div>

  </div>
</div>
