<div id="course-instance">

  <div class="row">

      <div class="col-sm-4 hidden-xs">
        <img class="img-responsive" src="/themes/itsweb/images/course-img-default.png">
      </div>

      <div class="col-sm-8 col-xs-12">

        {{ content.field_market_area }}

        <div class="node-title">{{ node.label }}</div>

        {{ content.field_course_code }}

        <h2>What will I study?</h2>
        {{ content.field_about_course }}

        <h2>What next?</h2>
        {{ content.field_career_progression }}

        <h2>Entry requirements</h2>
        {{ content.field_entry_requirements }}

      </div>

  </div>

</div>
